<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Clientes</title>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="clientes">
        <section ng-controller="ClientesController">
            <div class="formulario">
                <input type="text" placeholder="Nome" ng-model="dados.nome">
                <input type="text" placeholder="E-mail" ng-model="dados.email">
                <input type="text" placeholder="Avatar" ng-model="dados.imagem">

                <button ng-click="cadastrar()">Salvar</button>
            </div>

            <div class="lista">
                <p ng-if="clientes.length == 0">
                    Não há clientes cadastrados!
                </p>

                <div ng-repeat="cliente in clientes">
                    <img ng-src="{{cliente.imagem}}">
                    <p class="nome">{{cliente.nome}}</p>
                    <p>{{cliente.email}}</p>
                </div>
            </div>
        </section>

        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
