body{
    margin: 0;
    font-family: sans-serif;
}

section img{
    width: 100%;
}

section p{
    font-size: 40px;
    text-align: center;
    margin: 0;
}

section ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

section ul li{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 3px;
}

section ul li.ativo{
    background-color: black;
}
